@import '../../variables.scss';

.article {
  box-sizing: border-box;
  border-radius: $border-radius;
  width: 940px;
  margin: 26px auto;
  padding: 15px;
  background-color: white;

  &_header {
    display: flex;
  }

  &__card_info {
    margin-right: auto;

    & > a {
      text-decoration: none;
    }
  }

  &_title {
    max-width: 600px;
    overflow: hidden;
    color: $primary-color;
    @include header5;
  }

  &_btn_like {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    background-color: transparent;
    border: 0;
    color: $text-color;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    & > .icon-like {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    & > .btn--counter {
      @include font-size-sm12;
    }
  }

  .tag_list {
    margin-top: 4px;
    padding: 0;
    display: flex;
    list-style: none;

    & > .tag {
      display: flex;
      border: 1px solid $text-color;
      border-radius: 2px;
      padding: 5px;
      margin-right: 8px;

      & > span {
        font-size: 12px;
        line-height: 9px;
        color: $text-color;
      }
    }
  }

  &__author_info {
    display: flex;
  }

  &__name_and_date {
    margin-right: 12px;

    & > span {
      display: block;

      &:first-child {
        @include header6;
      }

      &:last-child {
        @include font-size-sm12;
      }
    }
  }
  &__author_avatar {
    width: 46px;
    height: 46px;
  }

  &_decs_and_actions {
    display: flex;
  }

  &_actions {
    margin-top: 14px;
    display: flex;
    gap: 12px;
    margin-right: 12px;
    margin-left: auto;

    & .btn_delete {
      border: 1px solid $highlight-color;

      & > span {
        color: $highlight-color;
      }
    }

    & .btn_edit {
      border: 1px solid $succes-color;

      & > span {
        color: $succes-color;
      }
    }

    & > button {
      background-color: transparent;
      display: flex;
      border-radius: 5px;
      height: 32px;

      & > span {
        margin: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_description {
    margin: 0;
    align-self: flex-start;
    @include font-size-sm12;
    color: $text-color;
    word-wrap: break-word;
    width: 780px;
  }

  &_body {
    color: $text-color;
    word-wrap: break-word;
  }

  &_body > p {
    @include font-size-base-sm14;
  }
}

.spinner {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
}
