@import '../../variables.scss';

header {
  box-sizing: border-box;
  padding: 0 22px;
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  @include header6;

  a {
    text-decoration: none;
    color: $text-color;
  }

  & .btn {
    background-color: transparent;
    border-radius: $border-radius;
    border: 1px solid transparent;
    width: 110px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }

    & > span {
      @include header6;
    }
  }

  & .signUp {
    color: $succes-color;
    border-color: $succes-color;
  }

  & > .logo {
    margin-right: auto;
    color: $text-color;
  }
}
