@import '../../variables.scss';

.article_card {
  box-sizing: border-box;
  border-radius: $border-radius;
  height: 140px;
  margin-bottom: 26px;
  padding: 15px;
  background-color: white;

  &_header {
    display: flex;
  }

  &__card_info {
    margin-right: auto;

    & > a {
      text-decoration: none;
    }
  }

  &_title {
    color: $primary-color;
    @include header5;
  }

  &_btn_like {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    background-color: transparent;
    border: 0;
    color: $text-color;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    & > .icon_like {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    & > .btn__counter {
      @include font-size-sm12;
    }
  }

  .tag_list {
    margin-top: 4px;
    padding: 0;
    display: flex;
    list-style: none;
    max-width: 700px;
    overflow: hidden;
    margin-bottom: 16px;
    
    & > .tag {
      display: flex;
      border: 1px solid $text-color;
      border-radius: 2px;
      padding: 5px;
      margin-right: 8px;

      & > span {
        font-size: 12px;
        line-height: 9px;
        color: $text-color;
      }
    }
  }

  &__author_info {
    display: flex;
  }

  &__name_and_date {
    margin-right: 12px;

    & > span {
      display: block;

      &:first-child {
        @include header6;
      }

      &:last-child {
        @include font-size-sm12;
      }
    }
  }
  &__author_avatar {
    width: 46px;
    height: 46px;
  }

  &_description {
    margin: 0;
    align-self: flex-start;
    @include font-size-sm12;
    color: $text-color;
    word-wrap: break-word;
    width: 900px;
  }
}
