@import '../../variables.scss';

.ArticleCard {
  box-sizing: border-box;
  border-radius: $border-radius;
  height: 140px;
  margin-bottom: 26px;
  padding: 15px;
  background-color: white;

  &-header {
    display: flex;
  }

  &--card-info {
    margin-right: auto;

    & > a {
        text-decoration: none;
      }
  }

  &-title {
    color: $primary-color;
    @include header5;
  }

  &-btn-like {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    background-color: transparent;
    border: 0;
    color: $text-color;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    & > .icon-like {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    & > .btn--counter {
      @include font-size-sm12;
    }
  }

  .tag-list {
    margin-top: 4px;
    padding: 0;
    display: flex;
    list-style: none;

    & > .tag {
      display: flex;
      border: 1px solid $text-color;
      border-radius: 2px;
      padding: 5px;
      margin-right: 8px;

      & > span {
        font-size: 12px;
        line-height: 9px;
        color: $text-color;
      }
    }
  }

  &--author-info {
    display: flex;
  }

  &--name-and-date {
    margin-right: 12px;

    & > span {
      display: block;

      &:first-child {
        @include header6;
      }

      &:last-child {
        @include font-size-sm12;
      }
    }
  }
  &--author-avatar {
    width: 46px;
    height: 46px;
  }

  &-description {
    @include font-size-sm12;
    color: $text-color;
  }
}
